*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: red;
}

button{
    color: green;
    border: none;
}

/* Div Components */

.nav{
    width: 100%;
    height: 120px;
    background-color: rebeccapurple;
}