/* VARIABLES */
:root{
    /* COLOR */
    --default-color: rgb(15, 223, 188);
    --dark-color: rgb(20, 20, 20);
    --light-color: rgb(240, 240, 240);
    --grey-color: rgb(119, 119, 119);
    --red-color: rgb(209, 15, 15);
    --green-color: rgb(8, 163, 8);
    --blue-color: rgb(13, 89, 175);
    --purple-color: rgb(108, 16, 170);
    --yellow-color: rgb(211, 194, 42);
}

/* REQUIRED */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

/* NAV COMPONENTS */
.nav{
    z-index: 1;
    width: 100%;
    height: 90px;
}

/* Color Components */
.default-BG{
    background-color: var(--default-color);
}
.red-BG{
    background-color: var(--red-color);
}
.green-BG{
    background-color: var(--green-color);
}
.blue-BG{
    background-color: var(--blue-color);
}
.yellow-BG{
    background-color: var(--yellow-color);
}
.green-BG{
    background-color: var(--green-color);
}
.purple-BG{
    background-color: var(--purple-color);
}

/* POSITION COMPONENTS */

.parent{
    position: relative;
}

.all-center{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}